body{
    font-family: serif;
}
h1{
    font-size: 48px;
}
a{
    color:lightblue;
    text-decoration-line: underline;
}
#menu{
    background-color: midnightblue;
    line-height: 48px;
    font-weight: bold;
}
.center{
    text-align: center;
}